progress::-webkit-progress-value {
  background-color: #fa541c;
}
progress::-moz-progress-value {
  background-color: #fa541c;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-moz-progress-bar {
  background-color: transparent;
}
